.recipe {
  width: 85vw;
  margin: 0 auto;
  min-height: 100vh;
}
.recipe__image > img {
  display: block;
  width: 100%;
  height: 25em;
  overflow-y: hidden;
  object-fit: cover;
  object-position: center;
}
.recipe__body {
  padding: 2em 0;
}

.recipe__scores {
  display: flex;
  justify-content: flex-start;
  margin: 0.25em 0 1em 0;
  gap: 1em;
}

.recipe__summary {
  margin-top: 0.5em;
  line-height: 1.5rem;
}

.recipe__body li {
  list-style: none;
  padding: 0.25em 0;
}

.recipe__steps {
  display: flex;
  flex-direction: column;
}
.recipe__steps li {
  position: relative;
  margin: 0.5em 1em;
  line-height: 1.5rem;
}
.recipe__steps li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1em;
  width: 5px;
  height: 100%;
  background-color: var(--c-green);
}

.recipe__diets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  padding: 0.5em 0;
  grid-gap: 1em;
}
.recipe__diets li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  background-color: var(--c-green);
  padding: 0.5em 1em;
  margin-top: 1em;
}
@media screen and (max-width: 30em) {
  .recipe {
    padding-bottom: 4em;
  }
}
