.container {
  width: 90vw;
  margin: 0 auto;
}

.mt-2 {
  margin-top: 2em;
}

.grid {
  margin: 1.5em 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  gap: 2em;
}

.title {
  font-size: 1.75rem;
}

.f-small {
  font-size: 0.9rem;
  font-weight: 300;
  color: #888;
}

.quote {
  font-style: italic;
  font-weight: 300;
  color: #888;
}

.inline-childs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.inline-childs > * {
  display: inline-flex;
}

.toast {
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 1em;
  background-color: #fdd;
  border: 1px solid #f55;
  color: #f55;
  cursor: pointer;
}
