.card {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1em;
  background-color: #fff;
  box-shadow: 0 0.5em 1em #0003;
  border-radius: 0.5em;
  overflow: hidden;
  transform: translateY(0);
  transition: all 0.25s ease;
  cursor: pointer;
}

.diets {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
.diets li {
  display: inline-block;
  word-wrap: none;
  font-size: 0.8rem;
  margin-top: 0.25em;
}

.card > img {
  width: 75%;
  align-self: center;
}

.card__info {
  color: var(--c-dark);
  padding: 1em 1em 0 1em;
}
.card__title {
  font-size: 0.85rem;
}

.card:hover {
  box-shadow: 0 0.5em 1em #0005;
  transform: translateY(-0.25em);
}
