.search {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
  padding: 5px;
}
.search > label {
  position: absolute;
  transform: translate(0.5em, 0);
  font-size: 0.85rem;
  transition: all 0.25s;
}
.search > input {
  display: flex;
  height: 2em;
  padding: 0 0.5em;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  outline: #ddd solid 2px;
}

.search:focus-within > label,
.focus > label {
  transform: translate(0.5em, -2em);
}
