.grid {
  position: relative;
  display: grid;
  grid-template-columns: 15em auto;
  margin-top: 3em;
  min-height: calc(100vh - 3em);
}

@media (max-width: 33em) {
  .grid {
    grid-template-columns: repeat(1, minmax(14em, 1fr));
    padding-bottom: 4em;
  }
  .grid:first-child h2 {
    margin-top: 1em;
  }
}
