.paginate__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate__container button {
  background-color: var(--c-green);
  color: #fff;
  border: none;
  border-radius: 0;
  font-weight: bold;
  border-radius: 100%;
  transition: all 0.25s linear;
}

.paginate__container button,
.paginate__current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  font-size: 0.85rem;
}

.paginate__container button:not(:first-child),
.paginate__current {
  margin-left: 1em;
}

.paginate__container button:hover {
  cursor: pointer;
  background-color: var(--c-dark-green);
}
