.form {
  max-width: 30em;
  margin: 1em auto;
  background-color: #fff;
  box-shadow: 0 4px 6px #0002;
  padding: 0.25em 1em;
}

.formContainer {
  width: 80%;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-top: 1.5em;
}

.inputContainer > input,
.inputContainer > textarea {
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #aaa;
}

.inputContainer > textarea {
  resize: vertical;
  min-height: 1.25rem;
}

.inputContainer > input::-webkit-outer-spin-button,
.inputContainer > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputContainer > input[type="number"] {
  -moz-appearance: textfield;
  width: 5em;
}

.inputContainer > input:focus,
.inputContainer > textarea:focus {
  border: 1px solid #5ad;
  outline: 1px solid #5ad;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diets {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formContainer > button {
  margin: 1em 0;
  width: 100%;
}

.steps > button {
  width: 100%;
  margin: 1em 0;
}

.error {
  color: #f55;
  margin: 0.25em 0 0 0;
}

.inputError {
  color: #f55 !important;
}
.inputError > input,
.inputError > textarea {
  border: 1px solid #f55;
  outline: 1px solid #f55;
}
