header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 3em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

nav li {
  list-style: none;
  height: 100%;
}

nav li:not(:first-child) {
  margin-left: 1em;
}

nav a {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.5em;
  outline: 2px solid transparent;
  color: #555;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.25s;
}

.brand {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 1rem;
}

nav a:hover,
nav a:focus {
  color: var(--c-green);
}
