header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  background-color: #fff;
  height: 3em;
  padding: 0.5em 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  height: 100%;
}

nav li {
  list-style: none;
  height: 100%;
}

nav a {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0.5em;
  color: #555;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.25s;
  margin-left: 1.5em;
}

nav a > i {
  display: block;
  font-size: 1.25rem;
}

nav a > span {
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 0.25em;
}

.brand {
  font-weight: 500;
  font-size: 1rem;
}

nav a:hover,
nav a:focus {
  color: var(--c-green);
}

@media screen and (min-width: 30em) {
  header {
    position: sticky;
    top: 0;
    bottom: initial;
  }
  nav a > i {
    display: none !important;
  }
  nav a > span {
    font-size: 0.9rem;
  }
}
