.loader {
  display: block;
  position: relative;
  width: 4em;
  height: 4em;
  transform: rotate(0);
  animation: spin 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: 100%;
}

.loader::before {
  height: 4em;
  width: 4em;
  background-color: #5ad;
  clip-path: polygon(0 50%, 100% 41%, 100% 100%, 0 100%);
}

.loader::after {
  height: 3em;
  width: 3em;
  transform: translate(0.5em, 0.5em);
  background-color: #fafafa;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
